<div class="flex min-h-screen min-w-[100vw] items-center justify-center overflow-hidden bg-surface-100">
  <div class="flex flex-col items-center justify-center">
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
      "
    >
      <div
        class="w-full bg-surface-0 px-8 py-20 sm:px-20"
        style="border-radius: 53px"
      >
        <div class="mb-2 text-center">
          <img
            class="mx-auto w-[12rem] shrink-0"
            src="/img/idsa.jpeg"
            alt="Logo"
          />
        </div>
        <div class="max-md:w-[20rem] md:w-[30rem]">
          @switch (resetPasswordState) {
            @case (ResetPasswordState.VALID_TOKEN) {
              <div class="mb-8 text-center">
                <span class="mb-4 text-2xl font-semibold">Restablecer contraseña</span>
              </div>
              <form
                [formGroup]="resetPasswordForm"
                (ngSubmit)="submitPasswordReset()"
              >
                <div class="flex flex-col gap-4">
                  <idsa-input-text
                    type="password"
                    inputId="password"
                    label="Nueva contraseña"
                    labelPosition="top"
                    [customFormControl]="resetPasswordForm.controls.password"
                    placeholder="Ingresa tu nueva contraseña"
                    [required]="true"
                    [disabled]="false"
                    [readonly]="false"
                    [maxLength]="20"
                    [minLength]="8"
                    variant="outlined"
                    size="large"
                  ></idsa-input-text>

                  <idsa-input-text
                    type="password"
                    inputId="confirmPassword"
                    label="Confirmar contraseña"
                    labelPosition="top"
                    [customFormControl]="resetPasswordForm.controls.confirmPassword"
                    placeholder="Confirma tu nueva contraseña"
                    [required]="true"
                    [disabled]="false"
                    [readonly]="false"
                    [maxLength]="20"
                    [minLength]="8"
                    variant="outlined"
                    size="large"
                    helpTextType="error"
                    [helpText]="getHelpTextPassword()"
                  ></idsa-input-text>
                </div>

                <div class="mt-8">
                  <p-button
                    label="Restablecer contraseña"
                    styleClass="w-full"
                    type="submit"
                    rounded="true"
                    [loading]="loading"
                    [disabled]="loading"
                  ></p-button>
                </div>
              </form>
            }
            @case (ResetPasswordState.RESET_SUCCESS) {
              <div class="mb-8 text-center">
                <span class="text-2xl font-semibold">Contraseña restablecida correctamente</span>
              </div>
              <div class="text-center">
                <p>
                  Tu contraseña ha sido restablecida exitosamente. Ahora puedes iniciar sesión con tu nueva contraseña.
                </p>
              </div>
              <div class="mt-8">
                <p-button
                  label="Volver al inicio de sesión"
                  styleClass="w-full"
                  type="button"
                  rounded="true"
                  variant="outlined"
                  (click)="goToLogin()"
                ></p-button>
              </div>
            }
            @case (ResetPasswordState.INVALID_TOKEN) {
              <div class="mb-8 text-center">
                <span class="mb-4 text-2xl font-semibold">Enlace expirado o no válido</span>
              </div>
              <div class="text-center">
                <p>
                  El enlace de restablecimiento de contraseña ha expirado o no es válido. Por favor, solicita un nuevo
                  correo para restablecer tu contraseña.
                </p>
              </div>
              <div class="mt-8">
                <p-button
                  label="Solicitar nuevo correo"
                  styleClass="w-full"
                  type="button"
                  rounded="true"
                  variant="outlined"
                  (click)="requestResendEmail(true)"
                ></p-button>
              </div>
            }
            @case (ResetPasswordState.ACCOUNT_INACTIVE) {
              <div class="mb-8 text-center">
                <span class="mb-4 text-2xl font-semibold">Cuenta inactiva</span>
              </div>
              <div class="text-center">
                <p>Tu cuenta está inactiva. Por favor, contacta al administrador para activarla.</p>
              </div>
              <div class="mt-8">
                <p-button
                  label="Volver al inicio de sesión"
                  styleClass="w-full"
                  type="button"
                  rounded="true"
                  variant="outlined"
                  (click)="goToLogin()"
                ></p-button>
              </div>
            }
            @case (ResetPasswordState.NEW_ACCOUNT_UNVERIFIED) {
              <div class="mb-8 text-center">
                <span class="mb-4 text-2xl font-semibold">Correo electrónico no verificado</span>
              </div>
              <div class="text-center">
                <p>
                  Tu cuenta es nueva y no ha sido verificada. Por favor, verifica tu correo electrónico para continuar.
                </p>
              </div>
              <div class="mt-8">
                <p-button
                  label="Solicitar correo de verificación"
                  styleClass="w-full"
                  type="button"
                  rounded="true"
                  variant="outlined"
                  (click)="requestResendEmail(false)"
                ></p-button>
              </div>
            }
            @case (ResetPasswordState.EMAIL_CHANGE_UNVERIFIED) {
              <div class="mb-8 text-center">
                <span class="mb-4 text-2xl font-semibold">Cambio de correo electrónico no verificado</span>
              </div>
              <div class="text-center">
                <p>
                  Tu cambio de correo electrónico no ha sido verificado. Por favor, verifica tu correo electrónico para
                  continuar.
                </p>
              </div>
              <div class="mt-8">
                <p-button
                  label="Solicitar correo de verificación"
                  styleClass="w-full"
                  type="button"
                  rounded="true"
                  variant="outlined"
                  (click)="requestResendEmail(false)"
                ></p-button>
              </div>
            }
            @case (ResetPasswordState.RESEND_EMAIL) {
              <app-resend-email />
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>
