<p-dialog
  [(visible)]="studentDialog"
  [modal]="true"
  header="Detalles del estudiante"
  closable="false"
  [style]="{ width: '450px' }"
>
  <ng-template #content>
    <form
      [formGroup]="studentForm"
      class="flex flex-col gap-6"
    >
      <div>
        <label
          for="studentId"
          class="mb-3 block font-bold"
        >
          Matrícula
        </label>
        <input
          pInputText
          pKeyFilter="alphanum"
          id="studentId"
          required
          autofocus
          fluid
          formControlName="studentId"
        />
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
          <label
            for="email"
            class="mb-3 block font-bold"
          >
            Correo electrónico
          </label>
          <input
            pInputText
            id="email"
            type="email"
            required
            fluid
            formControlName="email"
          />
        </div>

        <div class="col-span-6">
          <label
            for="phone"
            class="mb-3 block font-bold"
          >
            Teléfono
          </label>
          <input
            pInputText
            pKeyFilter="num"
            id="phone"
            type="tel"
            required
            fluid
            formControlName="phoneNumber"
          />
        </div>
      </div>

      <div>
        <label
          for="name"
          class="mb-3 block font-bold"
        >
          Nombre
        </label>
        <input
          pInputText
          pKeyFilter="alpha"
          id="name"
          type="text"
          required
          fluid
          formControlName="name"
        />
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
          <label
            for="paternalSurname"
            class="mb-3 block font-bold"
          >
            Apellido paterno
          </label>
          <input
            pInputText
            pKeyFilter="alpha"
            id="paternalSurname"
            type="text"
            required
            fluid
            formControlName="paternalSurname"
          />
        </div>
        <div class="col-span-6">
          <label
            for="maternalSurname"
            class="mb-3 block font-bold"
          >
            Apellido materno
          </label>
          <input
            pInputText
            pKeyFilter="alpha"
            id="maternalSurname"
            type="text"
            required
            fluid
            formControlName="maternalSurname"
          />
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #footer>
    <p-button
      label="Cancel"
      icon="pi pi-times"
      text
      (click)="closeDialog()"
    />
    <p-button
      label="Save"
      icon="pi pi-check"
      (click)="saveStudent()"
    />
  </ng-template>
</p-dialog>
