<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <span class="text-2xl font-bold">Administrar tutores</span>
  </ng-template>
  <ng-template #end>
    <div class="flex gap-2">
      <p-button
        label="Actualizar Datos"
        icon="pi pi-refresh"
        [outlined]="true"
        (click)="refreshTableData()"
      />
      <p-button
        label="Nuevo Tutor"
        icon="pi pi-plus"
        severity="primary"
        (onClick)="openCreateTutorDialog()"
      />
    </div>
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="tutors"
  [columns]="cols"
  [lazy]="true"
  [loading]="isLoading"
  [rows]="rows"
  [first]="first"
  [totalRecords]="totalRecords"
  [paginator]="true"
  [rowsPerPageOptions]="[20, 40, 60]"
  [scrollable]="true"
  scrollHeight="600px"
  [resizableColumns]="true"
  [showGridlines]="true"
  [rowHover]="true"
  [globalFilterFields]="tableUtils.getGlobalFilterFields(cols)"
  [tableStyle]="{ 'min-width': '75rem' }"
  dataKey="tutorId"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} tutores"
  [showCurrentPageReport]="true"
  (onLazyLoad)="loadTutors($event)"
>
  <ng-template #caption>
    <div class="flex flex-col items-center justify-between xs:flex-row">
      <p-button
        label="Limpiar"
        [outlined]="true"
        icon="pi pi-filter-slash"
        (click)="dt.reset(); searchTutorValue = ''"
      />
      <div class="mb-3 mt-3 xs:mb-0 xs:mt-0">
        <p-inputgroup>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchTutorValue"
            placeholder="Buscar..."
          />
          <p-button
            icon="pi pi-search"
            (click)="dt.filterGlobal(searchTutorValue.trim(), 'contains')"
          />
        </p-inputgroup>
      </div>
    </div>
  </ng-template>
  <ng-template
    #header
    let-columns
  >
    <tr>
      @for (col of columns; track $index) {
        <th pResizableColumn>
          {{ col.header }}
        </th>
      }
      <th style="min-width: 10rem"></th>
    </tr>
  </ng-template>
  <ng-template
    #body
    let-tutor
    let-columns="columns"
  >
    <tr>
      @for (col of columns; track $index) {
        <td>{{ tableUtils.getNestedValue(tutor, col.field) }}</td>
      }
      <td>
        <div class="flex items-center justify-around">
          <p-button
            [pTooltip]="'Editar tutor'"
            tooltipPosition="top"
            icon="pi pi-pencil"
            [rounded]="true"
            [outlined]="true"
            (click)="openEditTutorDialog(tutor)"
          />
          <p-button
            [pTooltip]="'Eliminar tutor'"
            tooltipPosition="top"
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="deleteTutor(tutor)"
          />
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td [attr.colspan]="cols.length + 1">No se encontraron tutores</td>
    </tr>
  </ng-template>
  <ng-template
    *ngIf="!tutors"
    #loadingbody
  >
    <tr>
      <td [attr.colspan]="cols.length + 1">Cargando datos de tutores.</td>
    </tr>
  </ng-template>
</p-table>

@if (isTutorDialogVisible) {
  <tutors-form
    [isCreateTutor]="isCreateTutor"
    [selectedTutor]="selectedTutor"
    [isTutorDialogVisible]="isTutorDialogVisible"
    (tutorDialogChange)="onTutorDialogChange($event)"
  ></tutors-form>
}

<p-toast />
<p-confirmDialog [style]="{ width: '450px' }" />
