<p-dialog
  [(visible)]="isGradeDialogVisible"
  [header]="isCreateGrade ? 'Crear grado' : 'Editar grado'"
  [modal]="true"
  [closable]="true"
  [closeOnEscape]="false"
  [style]="{ width: '550px' }"
  (onHide)="closeDialog()"
>
  <form
    [formGroup]="gradeForm"
    (ngSubmit)="saveOrUpdateGrade()"
  >
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2 sm:flex-row sm:gap-4">
        <div class="w-full">
          <idsa-input-text
            type="onlyLetters"
            inputId="name"
            label="Nombre del grado"
            labelFontSize="text-lg"
            labelPosition="top"
            [customFormControl]="gradeForm.controls.name"
            placeholder="Primer Semestre/Primer Cuatrimestre/Primer año"
            [required]="true"
            [readonly]="false"
            [maxLength]="30"
            [minLength]="2"
            variant="outlined"
            size="large"
          ></idsa-input-text>
        </div>
      </div>

      <div class="mt-4 flex justify-end gap-2">
        <p-button
          *ngIf="!isLoading"
          label="Cancelar"
          type="button"
          icon="pi pi-times"
          severity="danger"
          variant="outlined"
          (click)="closeDialog()"
        />
        <p-button
          [label]="isCreateGrade ? 'Crear' : 'Actualizar'"
          type="submit"
          icon="pi pi-check"
          [loading]="isLoading"
          [disabled]="isLoading"
        />
      </div>
    </div>
  </form>
</p-dialog>

<p-toast />
