<p-dialog
  [(visible)]="userDialog"
  [modal]="true"
  [header]="isCreateUser ? 'Crear Usuario' : 'Editar Usuario'"
  closable="false"
  [style]="{ width: '550px' }"
>
  <form
    [formGroup]="userForm"
    (ngSubmit)="saveOrUpdateUser()"
  >
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2 xs:flex-row xs:gap-4">
        <div class="w-full xs:w-2/4">
          <idsa-input-text
            type="email"
            inputId="email"
            label="Correo electrónico"
            labelFontSize="text-lg"
            labelPosition="top"
            [customFormControl]="userForm.controls.email"
            placeholder="Ingresa el correo electrónico"
            [required]="true"
            [readonly]="false"
            [maxLength]="100"
            [minLength]="6"
            variant="outlined"
            size="large"
          ></idsa-input-text>
        </div>

        <div class="w-full xs:w-2/4">
          <idsa-input-select
            type="valueObject"
            selectId="role"
            label="Rol"
            labelFontSize="text-lg"
            labelPosition="top"
            [customFormControl]="userForm.controls.role"
            [options]="roles"
            optionLabel="roleName"
            placeholder="Seleccione un rol"
            [showClear]="true"
            size="large"
            (onChange)="roleChange($event)"
          ></idsa-input-select>
        </div>
      </div>
      <div class="flex flex-col gap-2 xs:flex-row xs:gap-4">
        <div class="w-full xs:w-2/4">
          <idsa-input-text
            type="onlyLetters"
            inputId="name"
            label="Nombre"
            labelFontSize="text-lg"
            labelPosition="top"
            [customFormControl]="userForm.controls.name"
            placeholder="Ingresa el nomre"
            [required]="true"
            [readonly]="false"
            [maxLength]="50"
            [minLength]="2"
            variant="outlined"
            size="large"
          ></idsa-input-text>
        </div>

        <div class="w-full xs:w-2/4">
          <idsa-input-text
            type="onlyLetters"
            inputId="paternalSurname"
            label="Apellido paterno"
            labelFontSize="text-lg"
            labelPosition="top"
            [customFormControl]="userForm.controls.firstSurname"
            placeholder="Ingresa el apellido paterno"
            [required]="true"
            [readonly]="false"
            [maxLength]="50"
            [minLength]="2"
            variant="outlined"
            size="large"
          ></idsa-input-text>
        </div>
      </div>
      <div class="flex flex-col gap-2 xs:flex-row xs:gap-4">
        <div class="w-full xs:w-2/4">
          <idsa-input-text
            type="onlyLetters"
            inputId="maternalSurname"
            label="Apellido materno"
            labelFontSize="text-lg"
            labelPosition="top"
            [customFormControl]="userForm.controls.secondSurname"
            placeholder="Ingresa el apellido materno"
            [required]="true"
            [readonly]="false"
            [maxLength]="50"
            [minLength]="2"
            variant="outlined"
            size="large"
          ></idsa-input-text>
        </div>

        @if (selectedRole?.roleName === 'Estudiante') {
          <div class="w-full xs:w-2/4">
            <idsa-input-text
              type="alphanumeric"
              inputId="studentCode"
              label="Matrícula"
              labelFontSize="text-lg"
              labelPosition="top"
              [customFormControl]="userForm.controls.studentCode"
              placeholder="Ingresa la matrícula"
              [required]="true"
              [readonly]="false"
              [maxLength]="20"
              [minLength]="10"
              variant="outlined"
              size="large"
            ></idsa-input-text>
          </div>
        } @else if (selectedRole?.roleName === 'Tutor') {
          <div class="w-full xs:w-2/4">
            <idsa-input-text
              type="alphanumeric"
              inputId="employeeNumber"
              label="Número de empleado"
              labelFontSize="text-lg"
              labelPosition="top"
              [customFormControl]="userForm.controls.employeeCode"
              placeholder="Ingresa el número de empleado"
              [required]="true"
              [readonly]="false"
              [maxLength]="20"
              [minLength]="10"
              variant="outlined"
              size="large"
            ></idsa-input-text>
          </div>
        }
      </div>

      @if (!isCreateUser) {
        <div class="flex flex-col gap-2">
          <div class="w-full">
            <idsa-input-text
              type="password"
              inputId="password"
              label="Contraseña"
              labelFontSize="text-lg"
              labelPosition="top"
              [customFormControl]="userForm.controls.password"
              placeholder="Ingresa la contraseña"
              [required]="true"
              [maxLength]="20"
              [minLength]="8"
              variant="outlined"
              size="large"
            ></idsa-input-text>
          </div>
          <div class="w-full">
            <p-checkbox
              class="mr-2"
              id="activePassword"
              [binary]="true"
              (onChange)="toggleEditPassword($event)"
            />
            <label for="activePassword">Actualizar Contraseña</label>
          </div>
        </div>
      }

      <div class="mt-4 flex justify-end gap-2">
        <p-button
          label="Cancelar"
          icon="pi pi-times"
          text
          (click)="closeDialog()"
        />
        <p-button
          [label]="isCreateUser ? 'Crear' : 'Actualizar'"
          type="submit"
          icon="pi pi-check"
        />
      </div>
    </div>
  </form>
</p-dialog>
