<div class="flex min-h-screen min-w-[100vw] items-center justify-center overflow-hidden bg-surface-100">
  <div class="flex flex-col items-center justify-center">
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
      "
    >
      <div
        class="w-full bg-surface-0 px-8 py-20 sm:px-20"
        style="border-radius: 53px"
      >
        <div class="mb-8 text-center">
          <img
            class="mx-auto w-[12rem] shrink-0"
            src="/img/idsa.jpeg"
            alt="Logo"
          />
        </div>

        <div class="max-md:w-[20rem] md:w-[30rem]">
          @switch (confirmEmailChangeState) {
            @case (ConfirmEmailChangeState.VALID_TOKEN) {
              <div class="mb-8 text-center">
                <span class="text-2xl font-semibold">Confirmación de correo electrónico</span>
              </div>
              @if (!isError) {
                <div class="text-center">
                  <p>Verificando correo electrónico...</p>
                </div>
              }
              @if (isError) {
                <div class="mt-8">
                  <p-button
                    label="Volver al inicio de sesión"
                    styleClass="w-full"
                    type="button"
                    rounded="true"
                    variant="outlined"
                    (click)="goToLogin()"
                  ></p-button>
                </div>
              }
            }
            @case (ConfirmEmailChangeState.ALREADY_VERIFIED) {
              <div class="mb-8 text-center">
                <span class="text-2xl font-semibold">Correo electrónico ya ha sido verificado</span>
              </div>
              <div class="text-center">
                <p>
                  Tu correo electrónico ya ha sido verificado anteriormente. Ahora puedes iniciar sesión con tu nuevo
                  correo electrónico.
                </p>
              </div>
              <div class="mt-8">
                <p-button
                  label="Volver al inicio de sesión"
                  styleClass="w-full"
                  type="button"
                  rounded="true"
                  variant="outlined"
                  (click)="goToLogin()"
                ></p-button>
              </div>
            }
            @case (ConfirmEmailChangeState.VERIFIED) {
              <div class="mb-8 text-center">
                <span class="text-2xl font-semibold">Correo electrónico verificado correctamente</span>
              </div>
              <div class="text-center">
                <p>
                  Tu cambio de correo electrónico ha sido confirmado exitosamente. Ahora puedes iniciar sesión con tu
                  nuevo correo electrónico.
                </p>
              </div>
              <div class="mt-8">
                <p-button
                  label="Volver al inicio de sesión"
                  styleClass="w-full"
                  type="button"
                  rounded="true"
                  variant="outlined"
                  (click)="goToLogin()"
                ></p-button>
              </div>
            }
            @case (ConfirmEmailChangeState.INVALID_TOKEN) {
              <div class="mb-8 text-center">
                <span class="text-2xl font-semibold">Enlace expirado o no válido</span>
              </div>
              <div class="text-center">
                <p>
                  El enlace de verificación ha expirado o no es válido. Por favor, solicita un nuevo correo de
                  verificación.
                </p>
              </div>
              <div class="mt-8">
                <p-button
                  label="Solicitar reenvío de correo"
                  styleClass="w-full"
                  type="button"
                  rounded="true"
                  (click)="requestResendEmail()"
                ></p-button>
              </div>
            }
            @case (ConfirmEmailChangeState.ACCOUNT_INACTIVE) {
              <div class="mb-8 text-center">
                <span class="text-2xl font-semibold">Cuenta inactiva</span>
              </div>
              <div class="text-center">
                <p>Tu cuenta está inactiva. Por favor, contacta al administrador para activarla.</p>
              </div>
              <div class="mt-8">
                <p-button
                  label="Volver al inicio de sesión"
                  styleClass="w-full"
                  type="button"
                  rounded="true"
                  variant="outlined"
                  (click)="goToLogin()"
                ></p-button>
              </div>
            }
            @case (ConfirmEmailChangeState.RESEND_EMAIL) {
              <app-resend-email />
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>

@if (loading) {
  <idsa-spinner />
}

<p-toast />
