<div class="flex min-h-screen min-w-[100vw] items-center justify-center overflow-hidden bg-surface-100">
  <div class="flex flex-col items-center justify-center">
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
      "
    >
      <div
        class="w-full bg-surface-0 px-8 py-20 sm:px-20"
        style="border-radius: 53px"
      >
        <div class="mb-8 text-center">
          <img
            class="mx-auto w-[8rem] shrink-0"
            src="/img/icon.png"
            alt="Logo"
          />
          <div class="mb-4 text-3xl font-medium text-surface-900">Identifi Adicc</div>
          @if (isTokenValid) {
            <span class="font-medium text-muted-color">Cambio de correo confirmado</span>
          } @else {
            <span class="font-medium text-muted-color">Token inválido o expirado</span>
          }
        </div>

        @if (isTokenValid) {
          <div class="flex flex-col gap-4 md:w-[30rem]">
            <p class="mb-4 text-center text-muted-color">¡Has confirmado exitosamente tu nuevo correo electrónico!</p>
            <p-button
              label="Volver al inicio de sesión"
              styleClass="w-full"
              type="button"
              rounded="true"
              (click)="goToLogin()"
            ></p-button>
          </div>
        } @else {
          <div class="flex flex-col gap-4 md:w-[30rem]">
            <p class="mb-4 text-center text-muted-color">
              El enlace ha expirado o no es válido. Por favor, solicita un nuevo correo de verificación para confirmar
              tu cambio de email.
            </p>
            <p-button
              label="Solicitar nuevo correo"
              styleClass="w-full"
              type="button"
              rounded="true"
              (click)="requestNewVerificationEmail()"
            ></p-button>

            <p-button
              label="Volver al inicio de sesión"
              styleClass="w-full"
              type="button"
              rounded="true"
              variant="text"
              (click)="goToLogin()"
            ></p-button>
          </div>
        }
      </div>
    </div>
  </div>
</div>
