<div class="mb-4 flex items-center justify-between">
  <span class="text-2xl font-bold sm:text-3xl">Gestión de datos de grupos</span>
  <p-button
    icon="pi pi-arrow-left"
    variant="outlined"
    severity="contrast"
    rounded
    [routerLink]="['../']"
  ></p-button>
</div>

<div class="mb-6 text-justify text-lg">
  En esta sección se pueden gestionar los datos de los grupos, incluyendo la administración de campus, modalidades,
  especialidades, grados, grupos y generaciones.
</div>

<p-tabs
  value="0"
  scrollable
>
  <p-tablist>
    <p-tab value="0">Campus</p-tab>
    <p-tab value="1">Modalidades</p-tab>
    <p-tab value="2">Especialidades</p-tab>
    <p-tab value="3">Grados</p-tab>
    <p-tab value="4">Grupos</p-tab>
    <p-tab value="5">Generaciones</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-campuses-list></app-campuses-list>
    </p-tabpanel>
    <p-tabpanel value="1">
      <app-modalities></app-modalities>
    </p-tabpanel>
    <p-tabpanel value="2">
      <app-specialties></app-specialties>
    </p-tabpanel>
    <p-tabpanel value="3">
      <app-grades></app-grades>
    </p-tabpanel>
    <p-tabpanel value="4">
      <app-groups></app-groups>
    </p-tabpanel>
    <p-tabpanel value="5">
      <app-generations-list></app-generations-list>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
