<div class="flex min-h-screen min-w-[100vw] items-center justify-center overflow-hidden bg-surface-100">
  <div class="flex flex-col items-center justify-center">
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
      "
    >
      <div
        class="w-full bg-surface-0 px-8 py-20 sm:px-20"
        style="border-radius: 53px"
      >
        <div class="mb-8 text-center">
          <img
            class="mx-auto w-[12rem] shrink-0"
            src="/img/idsa.jpeg"
            alt="Logo"
          />
        </div>

        <div class="max-md:w-[20rem] md:w-[30rem]">
          @switch (loginState) {
            @case (LoginState.INITIAL) {
              <div class="mb-8 text-center">
                <span class="text-2xl font-semibold">Iniciar sesión</span>
              </div>
              <form
                [formGroup]="loginForm"
                (ngSubmit)="login()"
              >
                <div class="flex flex-col gap-4">
                  <idsa-input-text
                    type="email"
                    inputId="email"
                    label="Correo electrónico"
                    labelPosition="top"
                    [customFormControl]="loginForm.controls.email"
                    placeholder="Ingresa tu correo electrónico"
                    [required]="true"
                    [disabled]="false"
                    [readonly]="false"
                    [maxLength]="100"
                    [minLength]="6"
                    variant="outlined"
                    size="large"
                  ></idsa-input-text>

                  <idsa-input-text
                    type="password"
                    inputId="password"
                    label="Contraseña"
                    labelPosition="top"
                    [customFormControl]="loginForm.controls.password"
                    placeholder="Ingresa tu contraseña"
                    [minLength]="8"
                    [maxLength]="20"
                    variant="outlined"
                    size="large"
                  ></idsa-input-text>
                </div>

                <div class="mt-8 flex flex-col gap-4">
                  <p-button
                    label="Iniciar sesión"
                    styleClass="w-full"
                    type="submit"
                    rounded="true"
                    [loading]="loading"
                    [disabled]="loading"
                  ></p-button>

                  <p-button
                    *ngIf="!loading"
                    label="¿Olvidaste tu contraseña?"
                    styleClass="w-full"
                    type="button"
                    rounded="true"
                    variant="text"
                    (click)="forgotPassword()"
                  ></p-button>
                </div>
              </form>
            }
            @case (LoginState.UNVERIFIED_EMAIL) {
              <div class="mb-8 text-center">
                <span class="text-2xl font-semibold">Correo electrónico no verificado</span>
              </div>
              <div class="text-center">
                <p>
                  Tu correo electrónico no ha sido verificado. Por favor, verifica tu correo electrónico para continuar.
                </p>
              </div>
              <div class="mt-8">
                <p-button
                  label="Solicitar reenvío de correo"
                  styleClass="w-full"
                  type="button"
                  rounded="true"
                  variant="outlined"
                  (click)="resendEmail()"
                ></p-button>
              </div>
            }
            @case (LoginState.RESEND_EMAIL) {
              <app-resend-email (backToLogin)="resetLoginState()" />
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast />
