<div class="flex min-h-screen min-w-[100vw] items-center justify-center overflow-hidden bg-surface-100">
  <div class="flex flex-col items-center justify-center">
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
      "
    >
      <div
        class="w-full bg-surface-0 px-8 py-20 sm:px-20"
        style="border-radius: 53px"
      >
        <div class="mb-8 text-center">
          <img
            class="mx-auto mb-8 w-[8rem] shrink-0"
            src="/img/icon.png"
            alt="Logo"
          />
          <div class="mb-4 text-3xl font-medium text-surface-900">Identifi Adicc</div>
          <span class="font-medium text-muted-color">Inicia sesión para continuar</span>
        </div>

        <div>
          <form
            [formGroup]="loginForm"
            (ngSubmit)="login()"
          >
            <div class="mb-8 md:w-[30rem]">
              <div class="mb-4">
                <idsa-input-text
                  type="email"
                  inputId="email"
                  label="Correo electrónico"
                  labelPosition="top"
                  [customFormControl]="loginForm.controls.email"
                  placeholder="Ingresa tu correo electrónico"
                  [required]="true"
                  [disabled]="false"
                  [readonly]="false"
                  [maxLength]="100"
                  [minLength]="6"
                  variant="outlined"
                  size="large"
                ></idsa-input-text>
              </div>

              <div>
                <idsa-input-text
                  type="password"
                  inputId="password"
                  label="Contraseña"
                  labelPosition="top"
                  [customFormControl]="loginForm.controls.password"
                  placeholder="Ingresa tu contraseña"
                  [minLength]="8"
                  [maxLength]="20"
                  variant="outlined"
                  size="large"
                ></idsa-input-text>
              </div>
            </div>

            <p-button
              label="Iniciar sesión"
              styleClass="w-full"
              type="submit"
            ></p-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
