<div class="flex min-h-screen min-w-[100vw] items-center justify-center overflow-hidden bg-surface-100">
  <div class="flex flex-col items-center justify-center">
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
      "
    >
      <div
        class="w-full bg-surface-0 px-8 py-20 sm:px-20"
        style="border-radius: 53px"
      >
        <div class="mb-8 text-center">
          <img
            class="mx-auto w-[8rem] shrink-0"
            src="/img/icon.png"
            alt="Logo"
          />
        </div>

        <div class="max-md:w-[20rem] md:w-[30rem]">
          @switch (verificationState) {
            @case (VerificationState.VALID_TOKEN) {
              <div class="mb-8 text-center">
                <span class="text-2xl font-semibold">Verifica tu correo electrónico</span>
              </div>
              <form
                [formGroup]="verifyEmailForm"
                (ngSubmit)="verifyEmailAndSetPassword()"
              >
                <div class="flex flex-col gap-4">
                  <idsa-input-text
                    type="password"
                    inputId="password"
                    label="Nueva contraseña"
                    labelPosition="top"
                    [customFormControl]="verifyEmailForm.controls.password"
                    placeholder="Ingresa tu nueva contraseña"
                    [required]="true"
                    [disabled]="false"
                    [readonly]="false"
                    [maxLength]="20"
                    [minLength]="8"
                    variant="outlined"
                    size="large"
                  ></idsa-input-text>

                  <idsa-input-text
                    type="password"
                    inputId="confirmPassword"
                    label="Confirmar contraseña"
                    labelPosition="top"
                    [customFormControl]="verifyEmailForm.controls.confirmPassword"
                    placeholder="Confirma tu nueva contraseña"
                    [required]="true"
                    [disabled]="false"
                    [readonly]="false"
                    [maxLength]="20"
                    [minLength]="8"
                    variant="outlined"
                    size="large"
                    helpTextType="error"
                    [helpText]="getHelpTextPassword()"
                  ></idsa-input-text>
                </div>

                <div class="mt-8">
                  <p-button
                    label="Verificar correo electrónico"
                    styleClass="w-full"
                    type="submit"
                    rounded="true"
                    [loading]="loading"
                    [disabled]="loading"
                  ></p-button>
                </div>
              </form>
            }
            @case (VerificationState.ALREADY_VERIFIED) {
              <div class="mb-8 text-center">
                <span class="text-2xl font-semibold">Correo electrónico ya ha sido verificado</span>
              </div>
              <div class="text-center">
                <p>
                  Tu correo electrónico ya ha sido verificado anteriormente. Si deseas cambiar tu contraseña, por favor
                  utiliza la opción "¿Olvidaste tu contraseña?" en la página de inicio de sesión.
                </p>
              </div>
              <div class="mt-8">
                <p-button
                  label="Volver al inicio de sesión"
                  styleClass="w-full"
                  type="button"
                  rounded="true"
                  variant="outlined"
                  (click)="goToLogin()"
                ></p-button>
              </div>
            }
            @case (VerificationState.VERIFIED) {
              <div class="mb-8 text-center">
                <span class="text-2xl font-semibold">Correo electrónico verificado correctamente</span>
              </div>
              <div class="text-center">
                <p>
                  Tu correo electrónico ha sido verificado y tu contraseña ha sido establecida exitosamente. Ahora
                  puedes iniciar sesión con tu nueva contraseña.
                </p>
              </div>
              <div class="mt-8">
                <p-button
                  label="Volver al inicio de sesión"
                  styleClass="w-full"
                  type="button"
                  rounded="true"
                  variant="outlined"
                  (click)="goToLogin()"
                ></p-button>
              </div>
            }
            @case (VerificationState.INVALID_TOKEN) {
              <div class="mb-8 text-center">
                <span class="text-2xl font-semibold">Enlace expirado o no válido</span>
              </div>
              <div class="text-center">
                <p>
                  El enlace de verificación ha expirado o no es válido. Por favor, solicita un nuevo correo de
                  verificación.
                </p>
              </div>
              <div class="mt-8">
                <p-button
                  label="Solicitar reenvío de correo"
                  styleClass="w-full"
                  type="button"
                  rounded="true"
                  (click)="requestResendEmail()"
                ></p-button>
              </div>
            }
            @case (VerificationState.RESEND_EMAIL) {
              <app-resend-email />
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast />
