<div class="flex min-h-screen min-w-[100vw] items-center justify-center overflow-hidden bg-surface-100">
  <div class="flex flex-col items-center justify-center">
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
      "
    >
      <div
        class="w-full bg-surface-0 px-8 py-20 sm:px-20"
        style="border-radius: 53px"
      >
        <div class="mb-8 text-center">
          <img
            class="mx-auto w-[8rem] shrink-0"
            src="/img/icon.png"
            alt="Logo"
          />
          <div class="mb-4 text-3xl font-medium text-surface-900">Identifi Adicc</div>
          @if (isTokenValid) {
            <span class="font-medium text-muted-color">Establecer nueva contraseña</span>
          } @else {
            <span class="font-medium text-muted-color">Token inválido o expirado</span>
          }
        </div>

        @if (isTokenValid) {
          <form
            [formGroup]="verifyEmailForm"
            (ngSubmit)="submitPasswordReset()"
          >
            <div class="mb-8 md:w-[30rem]">
              <div class="mb-4">
                <idsa-input-text
                  type="password"
                  inputId="password"
                  label="Nueva contraseña"
                  labelPosition="top"
                  [customFormControl]="verifyEmailForm.controls.password"
                  placeholder="Ingresa tu nueva contraseña"
                  [required]="true"
                  [disabled]="false"
                  [readonly]="false"
                  [maxLength]="20"
                  [minLength]="8"
                  variant="outlined"
                  size="large"
                ></idsa-input-text>
              </div>

              <div>
                <idsa-input-text
                  type="password"
                  inputId="confirmPassword"
                  label="Confirmar contraseña"
                  labelPosition="top"
                  [customFormControl]="verifyEmailForm.controls.confirmPassword"
                  placeholder="Confirma tu nueva contraseña"
                  [required]="true"
                  [disabled]="false"
                  [readonly]="false"
                  [maxLength]="20"
                  [minLength]="8"
                  variant="outlined"
                  size="large"
                  helpTextType="error"
                  [helpText]="getHelpTextPassword()"
                ></idsa-input-text>
              </div>
            </div>

            <div class="flex flex-col gap-4">
              <p-button
                label="Establecer contraseña"
                styleClass="w-full"
                type="submit"
                rounded="true"
              ></p-button>
            </div>
          </form>
        } @else {
          <div class="flex flex-col gap-4 md:w-[30rem]">
            <p class="mb-4 text-center text-muted-color">
              El enlace ha expirado o no es válido. Por favor, solicita un nuevo correo de verificación.
            </p>
            <p-button
              label="Solicitar nuevo correo"
              styleClass="w-full"
              type="button"
              rounded="true"
              (click)="requestNewVerificationEmail()"
            ></p-button>

            <p-button
              label="Volver al inicio de sesión"
              styleClass="w-full"
              type="button"
              rounded="true"
              variant="text"
              (click)="goToLogin()"
            ></p-button>
          </div>
        }
      </div>
    </div>
  </div>
</div>
