<div>
  <h1>
    <i
      class="pi pi-user"
      style="font-size: 2.5rem"
    ></i>
    Mi perfil
  </h1>
</div>

<p-card
  styleClass="ui-card-shadow"
  [style]="{ 'font-size': '1.5rem' }"
>
  <div class="columns-2">
    <p>Nombre:</p>
    <p>Amy Taylor</p>
  </div>

  <div class="columns-2">
    <p>Email:</p>
    <p>{{ 'amy@gmail.com' }}</p>
  </div>

  <div class="columns-2">
    <p>Teléfono:</p>
    <p>123456789</p>
  </div>

  <div class="columns-2">
    <p>Fecha creación:</p>
    <p>2021-01-01</p>
  </div>

  <div class="columns-2">
    <p>Numero de empleado:</p>
    <p>123456</p>
  </div>
</p-card>
