<div class="card flex w-full flex-col">
  <div class="flex flex-col md:flex-row">
    <div class="flex w-full flex-col gap-3 py-5 md:w-3/12 md:pr-4">
      <button
        pButton
        type="button"
        fluid
        severity="secondary"
        class="btn text-xl"
        [class.button-active]="viewMyProfile"
        (click)="viewMyProfile = true"
      >
        <span pButtonLabel>Mi perfil</span>
      </button>
      <button
        pButton
        type="button"
        fluid
        severity="secondary"
        class="btn text-xl"
        [class.button-active]="!viewMyProfile"
        (click)="viewMyProfile = false"
      >
        <span pButtonLabel>Actualizar contraseña</span>
      </button>
    </div>

    <div class="flex w-full flex-col gap-4 py-5 md:w-9/12">
      @if (viewMyProfile && !profileService.isLoading()) {
        <div class="mb-5 text-2xl font-semibold">Mi perfil</div>

        <div class="mb-5 grid grid-cols-12 gap-4">
          <label class="col-span-12 flex items-center text-xl font-semibold md:col-span-4">Nombre:</label>
          <div class="col-span-12 text-xl md:col-span-8">
            {{ profileService.profile()!.name }} {{ profileService.profile()!.firstSurname }}
            {{ profileService.profile()!.secondSurname }}
          </div>
        </div>

        <div class="mb-5 grid grid-cols-12 gap-4">
          <label class="col-span-12 flex items-center text-xl font-semibold md:col-span-4">Correo electrónico:</label>
          <div class="col-span-12 text-xl md:col-span-8">
            {{ profileService.profile()!.email }}
          </div>
        </div>

        <div class="mb-5 grid grid-cols-12 gap-4">
          <label class="col-span-12 flex items-center text-xl font-semibold md:col-span-4">Numero de telefono:</label>
          <div class="col-span-12 text-xl md:col-span-8">{{ profileService.profile()!.phone }}</div>
        </div>

        <div class="mb-5 grid grid-cols-12 gap-4">
          <label class="col-span-12 flex items-center text-xl font-semibold md:col-span-4">Fecha creación:</label>
          <div class="col-span-12 text-xl md:col-span-8">{{ getCreadtedAt(profileService.profile()!.createdAt) }}</div>
        </div>

        @if (profileService.profile()!.roleName === Role.TUTOR) {
          <div class="mb-5 grid grid-cols-12 gap-4">
            <label class="col-span-12 flex items-center text-xl font-semibold md:col-span-4">Número de empleado:</label>
            <div class="col-span-12 text-xl md:col-span-8">{{ profileService.profile()!.key }}</div>
          </div>
        }
      }

      @if (!viewMyProfile) {
        <div class="mb-5 text-2xl font-semibold">Actualizar contraseña</div>

        <form
          [formGroup]="updatePasswordForm"
          (ngSubmit)="updatePassword()"
        >
          <div class="mb-5">
            <idsa-input-text
              type="password"
              inputId="password"
              label="Contraseña actual"
              labelPosition="left"
              [customFormControl]="updatePasswordForm.controls.password"
              placeholder="Ingresa tu contraseña actual"
              [required]="true"
              [disabled]="false"
              [readonly]="false"
              [maxLength]="20"
              [minLength]="8"
              variant="outlined"
              size="large"
            ></idsa-input-text>
          </div>

          <div class="mb-5">
            <idsa-input-text
              type="password"
              inputId="newPassword"
              label="Contraseña nueva"
              labelPosition="left"
              [customFormControl]="updatePasswordForm.controls.newPassword"
              placeholder="Ingresa tu nueva contraseña"
              [required]="true"
              [disabled]="false"
              [readonly]="false"
              [maxLength]="20"
              [minLength]="8"
              variant="outlined"
              size="large"
            ></idsa-input-text>
          </div>

          <div class="mb-5">
            <idsa-input-text
              type="password"
              inputId="confirmPassword"
              label="Confirmar contraseña"
              labelPosition="left"
              [customFormControl]="updatePasswordForm.controls.confirmPassword"
              placeholder="Confirma tu nueva contraseña"
              [required]="true"
              [disabled]="false"
              [readonly]="false"
              [maxLength]="20"
              [minLength]="8"
              variant="outlined"
              size="large"
              helpTextType="error"
              [helpText]="getHelpTextPassword()"
            ></idsa-input-text>
          </div>

          <div class="flex justify-end">
            <p-button
              label="Actualizar contraseña"
              size="large"
              type="submit"
              rounded="true"
              [loading]="loading"
              [disabled]="loading || updatePasswordForm.invalid"
            />
          </div>
        </form>
      }
    </div>
  </div>
</div>

<p-toast />
