<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <span class="text-2xl font-bold">Administrar usuarios</span>
  </ng-template>
  <ng-template #end>
    <div class="flex gap-2">
      <p-button
        label="Actualizar Datos"
        icon="pi pi-refresh"
        [outlined]="true"
        (click)="refreshTableData()"
      />
      <p-button
        label="Nuevo Usuario"
        icon="pi pi-plus"
        severity="primary"
        (onClick)="openCreateUserDialog()"
      />
    </div>
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="users"
  [columns]="cols"
  [lazy]="true"
  [loading]="isLoading"
  [rows]="rows"
  [first]="first"
  [totalRecords]="totalRecords"
  [paginator]="true"
  [rowsPerPageOptions]="[20, 40, 60]"
  [scrollable]="true"
  scrollHeight="600px"
  [resizableColumns]="true"
  [showGridlines]="true"
  [rowHover]="true"
  [globalFilterFields]="tableUtils.getGlobalFilterFields(cols)"
  [tableStyle]="{ 'min-width': '75rem' }"
  dataKey="userId"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} usuarios"
  [showCurrentPageReport]="true"
  (onLazyLoad)="loadUsers($event)"
>
  <ng-template #caption>
    <div class="flex flex-col items-center justify-between xs:flex-row">
      <p-button
        label="Limpiar"
        [outlined]="true"
        icon="pi pi-filter-slash"
        (click)="dt.reset(); searchUserValue = ''"
      />
      <div class="mb-3 mt-3 xs:mb-0 xs:mt-0">
        <p-inputgroup>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchUserValue"
            placeholder="Buscar..."
          />
          <p-button
            icon="pi pi-search"
            (click)="dt.filterGlobal(searchUserValue.trim(), 'contains')"
          />
        </p-inputgroup>
      </div>
    </div>
  </ng-template>
  <ng-template
    #header
    let-columns
  >
    <tr>
      @for (col of columns; track $index) {
        <th pResizableColumn>
          {{ col.header }}
        </th>
      }
      <th style="min-width: 10rem"></th>
    </tr>
  </ng-template>
  <ng-template
    #body
    let-user
    let-columns="columns"
  >
    <tr>
      @for (col of columns; track $index) {
        <td>
          @if (col.field === 'isActive') {
            <div class="flex items-center justify-center">
              <p-toggleswitch
                [(ngModel)]="user.isActive"
                [disabled]="!user.isActive && !user.isVerifiedEmail"
                [pTooltip]="
                  user.isActive
                    ? 'Desactivar usuario'
                    : user.isVerifiedEmail
                      ? 'Activar usuario'
                      : 'Usuario no verificado'
                "
                tooltipPosition="top"
                (onChange)="updateStatus(user.userId, $event.checked)"
              >
                <ng-template
                  #handle
                  let-checked="checked"
                >
                  <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
                </ng-template>
              </p-toggleswitch>
            </div>
          } @else if (col.field === 'isVerifiedEmail') {
            <div class="flex items-center justify-center">
              <p-tag
                [value]="user.isVerifiedEmail ? 'Verificado' : 'No Verificado'"
                [severity]="user.isVerifiedEmail ? 'success' : 'warn'"
              />
              @if (!user.isVerifiedEmail) {
                <p-button
                  pTooltip="Reenviar correo de verificación"
                  tooltipPosition="top"
                  class="ml-4"
                  icon="pi pi-envelope"
                  [rounded]="true"
                  [outlined]="true"
                  (click)="resendEmail(user.email)"
                />
              }
            </div>
          } @else if (col.field === 'createdAt') {
            {{ tableUtils.getNestedValue(user, col.field) | date: 'dd-MM-yyyy hh:mm:ss a  ' }}
          } @else {
            {{ tableUtils.getNestedValue(user, col.field) }}
          }
        </td>
      }
      <td>
        <div class="flex items-center justify-around">
          <p-button
            [pTooltip]="'Editar usuario'"
            tooltipPosition="top"
            icon="pi pi-pencil"
            [rounded]="true"
            [outlined]="true"
            (click)="openEditUserDialog(user)"
          />
          <p-button
            [pTooltip]="'Eliminar usuario'"
            tooltipPosition="top"
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="deleteUser(user)"
          />
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td [attr.colspan]="cols.length + 1">No se encontraron usuarios</td>
    </tr>
  </ng-template>
  <ng-template
    *ngIf="!users"
    #loadingbody
  >
    <tr>
      <td [attr.colspan]="cols.length + 1">Cargando datos de usuarios.</td>
    </tr>
  </ng-template>
</p-table>

@if (isUserDialogVisible) {
  <users-form
    [isCreateUser]="isCreateUser"
    [selectedUser]="selectedUser"
    [isUserDialogVisible]="isUserDialogVisible"
    (userDialogChange)="onUserDialogChange($event)"
  ></users-form>
}

<p-toast />
<p-confirmDialog [style]="{ width: '450px' }" />
