<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <span class="text-2xl font-bold">Administrar modalidades</span>
  </ng-template>
  <ng-template #end>
    <div class="flex gap-2">
      <p-button
        label="Actualizar Datos"
        icon="pi pi-refresh"
        [outlined]="true"
        (click)="refreshTableData()"
      />
      <p-button
        label="Nueva Modalidad"
        icon="pi pi-plus"
        severity="primary"
        (onClick)="openCreateModalityDialog()"
      />
    </div>
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="modalities"
  [columns]="cols"
  [lazy]="true"
  [loading]="isLoading"
  [rows]="rows"
  [first]="first"
  [totalRecords]="totalRecords"
  [paginator]="true"
  [rowsPerPageOptions]="[20, 40, 60]"
  [scrollable]="true"
  scrollHeight="400px"
  [resizableColumns]="true"
  [showGridlines]="true"
  [rowHover]="true"
  [globalFilterFields]="tableUtils.getGlobalFilterFields(cols)"
  [tableStyle]="{ 'min-width': '35rem' }"
  dataKey="modalityId"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} modalidades"
  [showCurrentPageReport]="true"
  (onLazyLoad)="loadModalities($event)"
>
  <ng-template #caption>
    <div class="flex flex-col items-center justify-between xs:flex-row">
      <p-button
        label="Limpiar"
        [outlined]="true"
        icon="pi pi-filter-slash"
        (click)="dt.reset(); searchModalityValue = ''"
      />
      <div class="mb-3 mt-3 xs:mb-0 xs:mt-0">
        <p-inputgroup>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchModalityValue"
            placeholder="Buscar..."
          />
          <p-button
            icon="pi pi-search"
            (click)="dt.filterGlobal(searchModalityValue.trim(), 'contains')"
          />
        </p-inputgroup>
      </div>
    </div>
  </ng-template>
  <ng-template
    #header
    let-columns
  >
    <tr>
      @for (col of columns; track $index) {
        <th pResizableColumn>
          {{ col.header }}
        </th>
      }
      <th style="min-width: 10rem"></th>
    </tr>
  </ng-template>
  <ng-template
    #body
    let-modality
    let-columns="columns"
  >
    <tr>
      @for (col of columns; track $index) {
        <td>{{ tableUtils.getNestedValue(modality, col.field) }}</td>
      }
      <td style="width: 10rem">
        <div class="flex items-center justify-around">
          <p-button
            [pTooltip]="'Editar modalidad'"
            tooltipPosition="top"
            icon="pi pi-pencil"
            [rounded]="true"
            [outlined]="true"
            (click)="openEditModalityDialog(modality)"
          />
          <p-button
            [pTooltip]="'Eliminar modalidad'"
            tooltipPosition="top"
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="deleteModality(modality)"
          />
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td [attr.colspan]="cols.length + 1">No se encontraron modalidades</td>
    </tr>
  </ng-template>
  <ng-template
    *ngIf="!modalities"
    #loadingbody
  >
    <tr>
      <td [attr.colspan]="cols.length + 1">Cargando datos de modalidades.</td>
    </tr>
  </ng-template>
</p-table>

@if (isModalityDialogVisible) {
  <modalities-form
    [isCreateModality]="isCreateModality"
    [selectedModality]="selectedModality"
    [isModalityDialogVisible]="isModalityDialogVisible"
    (modalityDialogChange)="onModalityDialogChange($event)"
  ></modalities-form>
}

<p-toast />
<p-confirmDialog [style]="{ width: '450px' }" />
