<div class="mb-4 flex items-center justify-between">
  <span class="text-2xl font-bold sm:text-3xl">Gestión de alumnos</span>
  <p-button
    icon="pi pi-arrow-left"
    variant="outlined"
    severity="contrast"
    rounded
    [routerLink]="['/panel/alumnos']"
  ></p-button>
</div>

<div class="mb-6 text-justify text-lg">
  En esta sección puedes gestionar la información de los estudiantes, incluyendo la creación, edición y eliminación de
  registros. También puedes buscar y filtrar alumnos para una mejor administración.
</div>

<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button
      label="Crear"
      icon="pi pi-plus"
      severity="secondary"
      class="mr-2"
      (onClick)="createStudent()"
    />
    <p-button
      severity="secondary"
      label="Eliminar"
      icon="pi pi-trash"
      outlined
      (onClick)="deleteSelectedStudents()"
      [disabled]="!selectedStudents || !selectedStudents.length"
    />
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="students"
  [rows]="15"
  [scrollable]="true"
  scrollHeight="500px"
  [resizableColumns]="true"
  [showGridlines]="true"
  [loading]="isLoading"
  [columns]="cols"
  [paginator]="true"
  [globalFilterFields]="tableUtils.getGlobalFilterFields(cols)"
  [tableStyle]="{ 'min-width': '75rem' }"
  [(selection)]="selectedStudents"
  [rowHover]="true"
  dataKey="studentId"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[15, 30, 45]"
>
  <ng-template #caption>
    <div class="flex flex-col items-center justify-between xs:flex-row">
      <p-button
        label="Limpiar"
        [outlined]="true"
        icon="pi pi-filter-slash"
        (click)="dt.reset(); searchStudentValue = ''; selectedStudents = []"
      />
      <div class="mb-3 mt-3 xs:mb-0 xs:mt-0">
        <p-inputgroup>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchStudentValue"
            placeholder="Buscar..."
          />
          <p-button
            icon="pi pi-search"
            (click)="dt.filterGlobal(searchStudentValue.trim(), 'contains')"
          />
        </p-inputgroup>
      </div>
    </div>
  </ng-template>
  <ng-template
    #header
    let-columns
  >
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox />
      </th>
      @for (col of columns; track $index) {
        <th
          [pSortableColumn]="col.sortable ? col.field : null"
          pResizableColumn
        >
          {{ col.header }}
          @if (col.sortable) {
            <p-sortIcon field="{{ col.field }}" />
          }
        </th>
      }
      <th style="min-width: 10rem"></th>
    </tr>
  </ng-template>
  <ng-template
    #body
    let-student
    let-columns="columns"
  >
    <tr>
      <td style="width: 3rem">
        <p-tableCheckbox [value]="student" />
      </td>
      @for (col of columns; track $index) {
        @if (col.field === 'predictionResult') {
          <td>
            {{ student.predictionResult ? student.predictionResult + '%' : 'No disponible' }}
          </td>
        } @else {
          <td>{{ tableUtils.getNestedValue(student, col.field) }}</td>
        }
      }
      <td style="text-align: center; min-width: 10rem">
        <p-button
          icon="pi pi-pencil"
          class="mr-3"
          [rounded]="true"
          [outlined]="true"
          (click)="editStudent(student)"
        />
        <p-button
          icon="pi pi-trash"
          class="ml-3"
          severity="danger"
          [rounded]="true"
          [outlined]="true"
          (click)="deleteStudent(student)"
        />
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td [attr.colspan]="cols.length + 2">No se encontraron registros</td>
    </tr>
  </ng-template>
  <ng-template #loadingbody>
    <tr>
      <td [attr.colspan]="cols.length + 2">Cargando datos. Por favor espere.</td>
    </tr>
  </ng-template>
</p-table>

@if (studentDialogVisible) {
  <students-form
    [isCreateStudent]="isCreateStudent"
    [selectedStudent]="selectedStudent"
    [studentDialog]="studentDialogVisible"
    (defaultChangeStudentDialog)="changeStudentDialog($event)"
  ></students-form>
}

<p-toast />
<p-confirmDialog [style]="{ width: '450px' }" />
