<p-dialog
  [(visible)]="isGroupDialogVisible"
  [header]="isCreateGroup ? 'Crear grupo' : 'Editar grupo'"
  [modal]="true"
  [closable]="true"
  [closeOnEscape]="false"
  [style]="{ width: '550px' }"
  (onHide)="closeDialog()"
>
  <form
    [formGroup]="groupForm"
    (ngSubmit)="saveOrUpdateGroup()"
  >
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2 sm:flex-row sm:gap-4">
        <div class="w-full">
          <idsa-input-text
            type="onlyPlainLettersUpperCase"
            inputId="name"
            label="Nombre del grupo"
            labelFontSize="text-lg"
            labelPosition="top"
            [customFormControl]="groupForm.controls.name"
            placeholder="Ejemplo: A, B, C, etc."
            [required]="true"
            [readonly]="false"
            [maxLength]="1"
            [minLength]="1"
            variant="outlined"
            size="large"
          ></idsa-input-text>
        </div>
      </div>

      <div class="mt-4 flex justify-end gap-2">
        <p-button
          *ngIf="!isLoading"
          label="Cancelar"
          type="button"
          icon="pi pi-times"
          severity="danger"
          variant="outlined"
          (click)="closeDialog()"
        />
        <p-button
          [label]="isCreateGroup ? 'Crear' : 'Actualizar'"
          type="submit"
          icon="pi pi-check"
          [loading]="isLoading"
          [disabled]="isLoading"
        />
      </div>
    </div>
  </form>
</p-dialog>

<p-toast />
