<p-dialog
  [(visible)]="isGroupConfigurationDialogVisible"
  [header]="isCreateGroupConfiguration ? 'Crear configuración de grupo' : 'Editar configuración de grupo'"
  [modal]="true"
  [closable]="true"
  [closeOnEscape]="false"
  [style]="{ width: '600px' }"
  (onHide)="closeDialog()"
>
  <form
    [formGroup]="groupConfigurationForm"
    (ngSubmit)="saveOrUpdateGroupConfiguration()"
  >
    <div class="flex flex-col gap-4">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <div class="w-full">
          <idsa-input-select
            type="valueObject"
            inputId="tutor"
            [loading]="tutors === null"
            label="Tutor"
            labelFontSize="text-lg"
            labelPosition="top"
            [customFormControl]="groupConfigurationForm.controls.tutor"
            [options]="tutors ?? []"
            [optionLabels]="{ labels: ['name', 'firstSurname', 'secondSurname'], separator: ' ' }"
            optionValue="tutorId"
            placeholder="Selecciona un tutor"
            [required]="true"
            variant="outlined"
            size="large"
            [btnConfig]="{
              disabled: tutors === null,
              icon: 'pi pi-refresh',
              severity: 'primary',
              outlined: false,
            }"
            (onBtnClick)="loadTutors()"
          ></idsa-input-select>
        </div>

        <div class="w-full">
          <idsa-input-select
            type="valueObject"
            inputId="campus"
            [loading]="campuses === null"
            label="Campus"
            labelFontSize="text-lg"
            labelPosition="top"
            [customFormControl]="groupConfigurationForm.controls.campus"
            [options]="campuses ?? []"
            optionLabel="name"
            optionValue="campusId"
            placeholder="Selecciona un campus"
            [required]="true"
            variant="outlined"
            size="large"
            [btnConfig]="{
              disabled: campuses === null,
              icon: 'pi pi-refresh',
              severity: 'primary',
              outlined: false,
            }"
            (onBtnClick)="loadCampuses()"
          ></idsa-input-select>
        </div>

        <div class="w-full">
          <idsa-input-select
            type="valueObject"
            inputId="specialty"
            [loading]="specialties === null"
            label="Especialidad"
            labelFontSize="text-lg"
            labelPosition="top"
            [customFormControl]="groupConfigurationForm.controls.specialty"
            [options]="specialties ?? []"
            optionLabel="name"
            optionValue="specialtyId"
            placeholder="Selecciona una especialidad"
            [required]="true"
            variant="outlined"
            size="large"
            [btnConfig]="{
              disabled: specialties === null,
              icon: 'pi pi-refresh',
              severity: 'primary',
              outlined: false,
            }"
            (onBtnClick)="loadSpecialties()"
          ></idsa-input-select>
        </div>

        <div class="w-full">
          <idsa-input-select
            type="valueObject"
            inputId="modality"
            [loading]="modalities === null"
            label="Modalidad"
            labelFontSize="text-lg"
            labelPosition="top"
            [customFormControl]="groupConfigurationForm.controls.modality"
            [options]="modalities ?? []"
            optionLabel="name"
            optionValue="modalityId"
            placeholder="Selecciona una modalidad"
            [required]="true"
            variant="outlined"
            size="large"
            [btnConfig]="{
              disabled: modalities === null,
              icon: 'pi pi-refresh',
              severity: 'primary',
              outlined: false,
            }"
            (onBtnClick)="loadModalities()"
          ></idsa-input-select>
        </div>

        <div class="w-full">
          <idsa-input-select
            type="valueObject"
            inputId="grade"
            [loading]="grades === null"
            label="Grado"
            labelFontSize="text-lg"
            labelPosition="top"
            [customFormControl]="groupConfigurationForm.controls.grade"
            [options]="grades ?? []"
            optionLabel="name"
            optionValue="gradeId"
            placeholder="Selecciona un grado"
            [required]="true"
            variant="outlined"
            size="large"
            [btnConfig]="{
              disabled: grades === null,
              icon: 'pi pi-refresh',
              severity: 'primary',
              outlined: false,
            }"
            (onBtnClick)="loadGrades()"
          ></idsa-input-select>
        </div>

        <div class="w-full">
          <idsa-input-select
            type="valueObject"
            inputId="group"
            [loading]="groups === null"
            label="Grupo"
            labelFontSize="text-lg"
            labelPosition="top"
            [customFormControl]="groupConfigurationForm.controls.group"
            [options]="groups ?? []"
            optionLabel="name"
            optionValue="groupId"
            placeholder="Selecciona un grupo"
            [required]="true"
            variant="outlined"
            size="large"
            [btnConfig]="{
              disabled: groups === null,
              icon: 'pi pi-refresh',
              severity: 'primary',
              outlined: false,
            }"
            (onBtnClick)="loadGroups()"
          ></idsa-input-select>
        </div>

        <div class="w-full">
          <idsa-input-select
            type="valueObject"
            inputId="generation"
            [loading]="generations === null"
            label="Generación"
            labelFontSize="text-lg"
            labelPosition="top"
            [customFormControl]="groupConfigurationForm.controls.generation"
            [options]="generations ?? []"
            [optionLabels]="{ labels: ['yearStart', 'yearEnd'], separator: ' / ' }"
            [dateFormat]="{ format: 'yyyy-MM-dd', locale: 'en' }"
            optionValue="generationId"
            placeholder="Selecciona una generación"
            [required]="true"
            variant="outlined"
            size="large"
            [btnConfig]="{
              disabled: generations === null,
              icon: 'pi pi-refresh',
              severity: 'primary',
              outlined: false,
            }"
            (onBtnClick)="loadGenerations()"
          ></idsa-input-select>
        </div>
      </div>

      <div class="mt-4 flex justify-end gap-2">
        <p-button
          *ngIf="!isLoading"
          type="button"
          label="Cancelar"
          icon="pi pi-times"
          severity="danger"
          variant="outlined"
          (click)="closeDialog()"
        />
        <p-button
          [label]="isCreateGroupConfiguration ? 'Crear' : 'Actualizar'"
          type="submit"
          icon="pi pi-check"
          [loading]="isLoading"
          [disabled]="isLoading"
        />
      </div>
    </div>
  </form>
</p-dialog>

<p-toast />
