<div class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <button
      type="button"
      class="layout-menu-button layout-topbar-action"
      (click)="layoutService.onMenuToggle()"
    >
      <i class="pi pi-bars"></i>
    </button>
    <a
      class="layout-topbar-logo"
      [routerLink]="['./inicio']"
    >
      <img
        src="/img/icon.png"
        alt="logo identifi Adicc"
      />
      <span>Identifi Adicc</span>
    </a>
  </div>

  <div class="layout-topbar-actions">
    <div class="user-container">
      @if (isDesktop()) {
        <span class="username">{{ userName }}</span>
      }
      <button
        class="layout-topbar-menu-button layout-topbar-action"
        pStyleClass="#menuContainer"
        enterFromClass="hidden"
        enterActiveClass="animate-scalein"
        leaveToClass="hidden"
        leaveActiveClass="animate-fadeout"
        [hideOnOutsideClick]="true"
      >
        <p-avatar
          [label]="getInitials()"
          shape="circle"
        />
      </button>
    </div>

    <div
      class="layout-topbar-menu hidden"
      id="menuContainer"
    >
      <div
        class="layout-topbar-menu-content"
        pStyleClass="@parent"
        leaveToClass="hidden"
        leaveActiveClass="animate-fadeout"
      >
        <button
          type="button"
          class="layout-topbar-action"
          [routerLink]="['./perfil']"
        >
          <i class="pi pi-user"></i>
          <span>Mi perfil</span>
        </button>
        <button
          type="button"
          class="layout-topbar-action"
          [routerLink]="['/auth/login']"
        >
          <i class="pi pi-sign-out"></i>
          <span>Cerrar sesión</span>
        </button>
      </div>
    </div>
  </div>
</div>
