<div class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <button
      class="layout-menu-button layout-topbar-action"
      (click)="layoutService.onMenuToggle()"
    >
      <i class="pi pi-bars"></i>
    </button>
    <a
      class="layout-topbar-logo"
      [routerLink]="['./panel']"
    >
      <img
        src="/img/logo.jpg"
        alt="logo identifi Adicc"
      />
      <span>Identifi Adicc</span>
    </a>
  </div>

  <div class="layout-topbar-actions">
    <button
      class="layout-topbar-menu-button layout-topbar-action"
      pStyleClass="@next"
      enterFromClass="hidden"
      enterActiveClass="animate-scalein"
      leaveToClass="hidden"
      leaveActiveClass="animate-fadeout"
      [hideOnOutsideClick]="true"
    >
      <p-avatar
        label="JL"
        shape="circle"
      />
    </button>

    <div class="layout-topbar-menu hidden">
      <div
        class="layout-topbar-menu-content"
        pStyleClass="@parent"
        leaveToClass="hidden"
        leaveActiveClass="animate-fadeout"
      >
        <button
          type="button"
          class="layout-topbar-action"
          [routerLink]="['./perfil']"
        >
          <i class="pi pi-user"></i>
          <span>Mi perfil</span>
        </button>
        <button
          type="button"
          class="layout-topbar-action"
          [routerLink]="['/auth/login']"
        >
          <i class="pi pi-sign-out"></i>
          <span>Cerrar sesión</span>
        </button>
      </div>
    </div>
  </div>
</div>
